html, body { 
	min-height: 100vh;
}

body {
	line-height: 1.2;
	font-family: sans-serif;

	> footer {
		position: sticky;
		top: 100vh;
	}
}

#wrapper{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
	  padding-bottom: 3rem;
} 

.gfx{
	width: 100%;
}

figure img{
	display: block;
}

figure h3 {
  font-size: 13pt;
  margin: 0.6rem 0 0.2rem 0;
  font-weight: 600;
  padding: 0 8px 0 8px;
  text-decoration: none;
}
figure h4 {
	color: #333333;
  font-size: 11pt;
  margin: 0.6rem 0 0.2rem 0;
  font-weight: 500;
  padding: 0 8px 0 8px;
  text-decoration: none;
}
figure h4 a {
  text-decoration: underline;
}

figure figcaption {
	font-style: italic;
  color: #616161;
  font-size: 11pt;
  padding: 0 0 10px 8px;
}

figure a {
  text-decoration: none;
  color: #333333;
  transition-duration: 120ms;
}

figure:hover a figcaption {
  color: #808080;
	transition-duration: 120ms;
}

figure a:hover {
  color: #f25244;
}

header {
	padding: calc(10px + 2vw);
	display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a{
  font-size: calc(10px + 2vw);
  color: #f25244;
  text-decoration: none;
  position: relative;
	font-weight: 700;
		transition-property: color;
	transition-duration: 240ms;
		&:hover {
    color: #6295D9;
	}
}

.about {
	font-size: calc(10px + 0.5vw);
  color: #f25244;
	display: inline-block;
	transition-property: transform, color;
	transition-duration: 240ms;
	text-decoration: none;
	&:hover {	
		transform: rotate(-3deg);
    color: #6295D9;
	}
}

/* row and column system using 'flexbox' */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
}

/* mobile first: full width column */
.column {
    flex: 1 100%;
}

.content {
    padding: 0px;
    margin: 0px 10px 10px 10px;
}

main {
	padding: 0px 20px;
}

footer {
			padding: 20px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
}
    .container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
			grid-template-rows: auto auto;
      align-items: center;
      position: relative;
    }
    .text-left {
      text-align: right;
      grid-column: 1;
			grid-row: 1;
    }
    .centered-object {
			cursor: default;
      padding: 0 15px;
      text-align: center;
      grid-column: 2;
			grid-row: 1
    }
    .text-right {
      text-align: left;
      grid-column: 3;
			grid-row: 1;
    }
    .centered-below {
			cursor: default;
  		font-size: 10pt;
  		color: #999999;
			padding-top: 60px;
      text-align: center;
      grid-column: 1 / 4;
      grid-row: 2;
    }
footer a{
			font-size: 13pt;
			text-decoration: none;
			font-weight: 700;
			transition-property: color;
			transition-duration: 240ms;
	  	color: #f25244;
		&:hover {
    color: #6295D9;
	}
}
/* A two column-layout */
@media screen and (min-width: 600px) {
    .column {
       flex: 1 50%;
    }

    p.splitter{
			column-count: 2; }
}

/*  A four column layout */
@media screen and (min-width: 900px) {
    .column {
      flex: 25%;
	}

	
}

